<div class="row">
    <div class="form-group">
        <button class="btn btn-primary" ng-click="amazonCtrl.createClient()">Create Client</button>
    </div>
</div>
<div class="panel panel-info" ng-repeat="clientCtr in vm.clients.val">
    <div class="panel-heading">
        <button type="button" class="close"  ng-click="vm.removeClient(clientCtr)"><span>&times;</span></button>
        <h3 class="panel-title">Client {{::clientCtr.client.name}}</h3>
    </div>
    <div class="panel-body row">
        <div class="col-md-6">
            <p>Subscribe to see the messages published to the topic on the left.</p>
            <div class="form-inline">
                <div class="form-group">
                    <label for="topicInput">Topic: </label>
                    <input type="text" class="form-control" id="topicInput" placeholder="Topic" ng-model="clientCtr.topicName" />
                </div>
                <button class="btn btn-primary" ng-click="clientCtr.subscribe()">Subscribe</button>
            </div>
            <div>
                <p>Press enter in the text box to send message to topic : {{clientCtr.topicName}} </p>
                <textarea id="messageInput" ng-disabled="!clientCtr.topicName" ng-model="clientCtr.message" placeholder="message to send" ng-keyup="clientCtr.msgInputKeyUp($event)"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info" ng-repeat="msg in clientCtr.msgs">
                <div class="panel-heading">
                    <h3 class="panel-title">{{msg.destination}} -> {{msg.receivedTime | date: 'medium'}}</h3>
                </div>
                <div class="panel-body"> {{msg.content}} </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h3>Logs:</h3>
    <ul class="list-group">
        <li ng-repeat="log in vm.logs.logs | orderBy:'createdTime':true" class="list-group-item" ng-class="log.className">
            {{log.createdTime | date: 'medium'}} - {{log.content}}
        </li>
    </ul>
</div>