<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu" style="height:700px;">
            <div class="list-group">
                <a href="" class="list-group-item active text-center" rotate>
                    <div class="amazon"></div>
                </a>
                <a href="" class="list-group-item text-center" ng-click="settingsCtrl.getCloud()" rotate>
                    <h4 class="fa fa-cloud fa-lg"></h4><br/>Cloud Configuration
                </a>
                <a href="" class="list-group-item text-center" ng-click="settingsCtrl.test()" rotate>
                    <h4 class="fa fa-undo fa-lg"></h4><br/>Back-up Utilities
                </a>
                <a href="" class="list-group-item text-center" ng-click="settingsCtrl.test()" rotate>
                    <h4 class="fa fa-connectdevelop fa-lg"></h4><br/>Sensor Network
                </a>
                <a href="" class="list-group-item text-center" ng-click="settingsCtrl.test()" rotate>
                    <h4 class="fa fa-question fa-lg"></h4><br/>Help
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab" style="height:700px;">
            <div class="bhoechie-tab-content">
                <div>
                    <div amazon></div>
                </div>
            </div>
            <div class="bhoechie-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-road" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Coming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                </center>
            </div>
            <div class="bhoechie-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Coming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                </center>
            </div>
            <div class="bhoechie-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Coming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Restaurant Directory</h3>
                </center>
            </div>
            <!--              <div class="bhoechie-tab-content">
                              <center>
                                  <h1 class="glyphicon glyphicon-credit-card" style="font-size:12em;color:#55518a"></h1>
                                  <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                                  <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                              </center>
                          </div>-->
        </div>
    </div>


</div>