<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu" style="height:700px;">
            <div class="list-group">

                    <a href="#" class="list-group-item text-center" rotate>
                        <div class="amazon"></div>
                    </a>

                <a href="#" class="list-group-item active text-center" ng-click="settingsCtrl.getCloud()" rotate>
                    <h4 class="fa fa-cloud fa-lg"></h4><br/>Cloud Configuration
                </a>
                <a href="#" class="list-group-item text-center" ng-click="settingsCtrl.test()" rotate>
                    <h4 class="fa fa-undo fa-lg"></h4><br/>Back-up Utilities
                </a>
                <a href="#" class="list-group-item text-center" ng-click="settingsCtrl.test()" rotate>
                    <h4 class="fa fa-connectdevelop fa-lg"></h4><br/>Sensor Network
                </a>
                <a href="#" class="list-group-item text-center" ng-click="settingsCtrl.test()" rotate>
                    <h4 class="fa fa-question fa-lg"></h4><br/>Help
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab" style="height:700px;">
            <div class="bhoechie-tab-content">
                    <div class="row">
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="vm.createClient()">Create Client</button>
                        </div>
                    </div>
                    <div class="panel panel-info" ng-repeat="clientCtr in vm.clients.val">
                        <div class="panel-heading">
                            <button type="button" class="close"  ng-click="vm.removeClient(clientCtr)"><span>&times;</span></button>
                            <h3 class="panel-title">Client {{::clientCtr.client.name}}</h3>
                        </div>
                        <div class="panel-body row">
                            <div class="col-md-6">
                                <p>Subscribe to see the messages published to the topic on the left.</p>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label for="topicInput">Topic: </label>
                                        <input type="text" class="form-control" id="topicInput" placeholder="Topic" ng-model="clientCtr.topicName" />
                                    </div>
                                    <button class="btn btn-primary" ng-click="clientCtr.subscribe()">Subscribe</button>
                                </div>
                                <div>
                                    <p>Press enter in the text box to send message to topic : {{clientCtr.topicName}} </p>
                                    <textarea id="messageInput" ng-disabled="!clientCtr.topicName" ng-model="clientCtr.message" placeholder="message to send" ng-keyup="clientCtr.msgInputKeyUp($event)"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-info" ng-repeat="msg in clientCtr.msgs">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{msg.destination}} -> {{msg.receivedTime | date: 'medium'}}</h3>
                                    </div>
                                    <div class="panel-body"> {{msg.content}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Logs:</h3>
                        <ul class="list-group">
                            <li ng-repeat="log in vm.logs.logs | orderBy:'createdTime':true" class="list-group-item" ng-class="log.className">
                                {{log.createdTime | date: 'medium'}} - {{log.content}}
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="bhoechie-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-road" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Coming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                </center>
            </div>
            <div class="bhoechie-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Coming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                </center>
            </div>
            <div class="bhoechie-tab-content">
                <center>
                    <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Coming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Restaurant Directory</h3>
                </center>
            </div>
            <!--              <div class="bhoechie-tab-content">
                              <center>
                                  <h1 class="glyphicon glyphicon-credit-card" style="font-size:12em;color:#55518a"></h1>
                                  <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                                  <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                              </center>
                          </div>-->
        </div>
    </div>
    <div style="margin-top:10px;">
        <button type="submit" form="cloudForm" class="btn btn-primary btn-purple save-button pull-right">Save</button>
    </div>


</div>