 <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu" >
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center" rotate>
                        <h4 class="fa fa-cloud fa-lg"></h4><br/>Cloud Configuration
                    </a>
                    <a href="#" class="list-group-item text-center" rotate>
                        <h4 class="fa fa-undo fa-lg"></h4><br/>Back-up Utilities
                    </a>
                    <a href="#" class="list-group-item text-center" rotate>
                        <h4 class="fa fa-connectdevelop fa-lg"></h4><br/>Sensor Network
                    </a>
                    <a href="#" class="list-group-item text-center" rotate>
                        <h4 class="glyphicon glyphicon-home"></h4><br/>Help
                    </a>
                    <a href="#" class="list-group-item text-center" rotate>
                        <h4 class="glyphicon glyphicon-home"></h4><br/>Safety and Health Effects/Treatment
                    </a>
                    <a href="#" class="list-group-item text-center" rotate>
                        <h4 class="glyphicon glyphicon-home"></h4><br/>Toxicity
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#amazon" aria-controls="amazon" role="tab" data-toggle="tab">Amazon</a></li>
                            <li role="presentation"><a href="#azure" aria-controls="azure" role="tab" data-toggle="tab">Azure</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="amazon">
                                <div class="row" >
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="endpoint">Endpoint: </label>
                                            <input type="text" class="form-control" id="endpoint" placeholder="EndPoint" ng-model="clientCtrl.endpoint">
                                        </div>
                                        <div class="form-group">
                                            <label for="regionInput">Region: </label>
                                            <input type="text" class="form-control" id="regionInput" placeholder="region" ng-model="clientCtrl.regionName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <label for="clientId">Client id: </label>
                                            <input type="text" class="form-control" id="clientId" ng-model="clientCtrl.clientId" placeholder="SomeClientId"/>
                                        </div>
                                        <div class="input-group">
                                            <label for="accessKey">Access key: </label>
                                            <input type="text" class="form-control" id="accessKey" placeholder="AWS access key"
                                                   ng-model="clientCtrl.accessKey"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="secretKey">Secret Key: </label>
                                            <input type="password" class="form-control" id="secretKey" placeholder="AWS secret key"
                                                   ng-model="clientCtrl.secretKey">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="azure">
                                <div class="form-group">
                                    <label for="endpoint">Connectionstring: </label>
                                    <input type="text" class="form-control" id="connectionstring" placeholder="Connectionstring" ng-model="clientCtrl.connectionstring">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-road" style="font-size:12em;color:#55518a"></h1>
                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                        <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                    </center>
                </div>

                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>
                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                        <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>
                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                        <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-credit-card" style="font-size:12em;color:#55518a"></h1>
                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                        <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>
                        <h1 class="glyphicon glyphicon-credit-card" style="font-size:12em;color:#55518a"></h1>
                        <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                        <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                    </center>
                </div>
            </div>
        </div>
 </div>