<div>
<h4>For more information on how to configure the Cloud solutions, please refer to following links:</h4></div></br>
    <h4>Amazon</h4>
        <a href="http://docs.aws.amazon.com/iot/latest/developerguide/iot-device-sdk-node.html" target="_blank">Get started with AWS IoT for NodeJS</a>
    <h4>Azure</h4>
        <a href="https://github.com/Azure/azure-iot-sdks/blob/master/doc/setup_iothub.md" target="_blank">Setting up an IoT hub</a></br>
        <a href="https://github.com/Azure/azure-iot-sdks/blob/master/node/device/core/readme.md" target="_blank">Getting started with NodeJS</a>
</div>