<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ui-sref-active="active"><a ui-sref="settings.gateway.general" aria-controls="general">General</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="settings.gateway.amazon" aria-controls="amazon">Amazon</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="settings.gateway.azure" aria-controls="azure">Azure</a></li>
    </ul>
    <form id="settingsForm" ng-submit="settingsGatewayCtrl.updateSettings()">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" ui-sref="settings.gateway.general" ui-sref-active="active" >
                <div class="row">
                    <div class="col-md-6">
<!--                        <div class="form-group">
                            <label for="gatewayName">Gateway Name: </label>
                            <input type="text" class="form-control" id="gatewayName" placeholder="Gateway Name"
                                   ng-model="settingsGatewayCtrl.gateway.general.name">
                        </div>-->
                        <div class="form-group">
                            <label for="serialPort">Serial Port: </label>
                            <input type="text" class="form-control" id="serialPort" placeholder="e.g. /dev/ttyUSB0"
                                   ng-model="settingsGatewayCtrl.gateway.general.serialPort">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="baudRate">Baud Rate: </label>
                            <input type="text" class="form-control" id="baudRate" placeholder="if unknown, use 9600"
                                   ng-model="settingsGatewayCtrl.gateway.general.baudRate">
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" ui-sref="settings.gateway.amazon" ui-sref-active="active">
                <div class="row" >
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="thingName">Thing Name: </label>
                            <input type="text" class="form-control" id="thingName" placeholder="AWS IoT thing name" ng-model="settingsGatewayCtrl.gateway.amazon.thingName">
                        </div>
                        <div class="form-group">
                            <label for="privateKey">Private Key: </label>
                            <input type="text" class="form-control" id="privateKey" placeholder="/path/to/0000000000-private.pem.key" ng-model="settingsGatewayCtrl.gateway.amazon.keyPath">
                        </div>
                        <div class="form-group">
                            <label for="certificate">Certificate: </label>
                            <input type="text" class="form-control" id="certificate" placeholder="/path/to/0000000000-certificate.pem.crt" ng-model="settingsGatewayCtrl.gateway.amazon.certPath">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="region">Region: </label>
                            <input type="text" class="form-control" id="region" placeholder="AWS IoT thing region" ng-model="settingsGatewayCtrl.gateway.amazon.region">
                        </div>
                        <div class="form-group">
                            <label for="rootCA">Root CA: </label>
                            <input type="text" class="form-control" id="rootCA"  placeholder="/path/to/rootCA.pem" ng-model="settingsGatewayCtrl.gateway.amazon.caPath"/>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" ui-sref="settings.gateway.azure" ui-sref-active="active">
                <div class="row" >
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="connectionString">Connection String: </label>
                            <input type="text" class="form-control" id="connectionString" placeholder="HostName=<IoT hub hostname>;DeviceId=<device name>;SharedAccessKey=<Shared access key>=" ng-model="settingsGatewayCtrl.gateway.azure.connectionString">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>